    <% if user_signed_in? %>
      <%= current_user.name %>
      <%= current_user.grade %>
      <%= current_user.school %>
      <%= current_user.undergraduate %>
      <%= current_user.self_introduction %>
      <%= current_user.work_location %>
      <%= current_user.hobby %>
      <%= current_user.birthplace %>
      <%= current_user.job_category %>
      <%= current_user.circle %>
      <%= current_user.seminar %>
      <%= current_user.high_school %>
      <%= current_user.club %>
      <%= current_user.department %>
      <%= current_user.profile_image %>
      <%= current_user.birthday %>
      <%= current_user.part_time_job %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "ユーザーのおともだち", users_path %>
      <%= link_to "プロフィール編集", edit_user_registration_path %>
    <% else %>
    <h1>seem</h1>
      <span>学生</span>
      <%= link_to "新規登録", new_students_registration_path %> |
      <%= link_to "ログイン", new_students_session_path %>
      <span>人事担当</span>
      <%= link_to "新規登録", new_company_registration_path %> |
      <%= link_to "ログイン", new_company_session_path %>
    <% end %>