<h1>人事マイページ</h1>
<%= current_company.company_name %>
<%= current_company.human_resources %>
<%= link_to "プロフィール編集", edit_company_registration_path %>
<%= link_to "新規投稿", new_post_path %>
<%= qrcode_tag request.url, module_size: 5 %>
<%= link_to "ログアウト", destroy_company_session_path, method: :delete %>