<div class="container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="field">
    <%= f.label :会社名 %><br />
    <%= f.text_field :company_name %>
  </div>

  <div class="field">
    <%= f.label :担当者名 %><br />
    <%= f.text_field :human_resources %>
  </div>  

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= link_to "戻る", 'mypage' %>

</div>
