<div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
            <%= f.label :名前 %><br />
            <%= f.text_field :name %>
        </div>
        <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
            <%= f.label :学年 %><br />
            <%= f.text_field :grade %>
        </div>
        <div class="field">
            <%= f.label :学校名 %><br />
            <%= f.text_field :school %>
        </div>
        <div class="field">
            <%= f.label :学部 %><br />
            <%= f.text_field :undergraduate %>
        </div>
        <div class="field">
            <%= f.label :自己紹介 %><br />
            <%= f.text_field :self_introduction %>
        </div>
        <div class="field">
            <%= f.label :希望勤務地 %><br />
            <%= f.text_field :work_location %>
        </div>
        <div class="field">
            <%= f.label :趣味 %><br />
            <%= f.text_field :hobby %>
        </div>
        <div class="field">
            <%= f.label :出身地 %><br />
            <%= f.text_field :birthplace %>
        </div>
        <div class="field">
            <%= f.label :希望職種 %><br />
            <%= f.text_field :job_category %>
        </div>
        <div class="field">
            <%= f.label :所属サークル %><br />
            <%= f.text_field :circle %>
        </div>
        <div class="field">
            <%= f.label :所属ゼミ %><br />
            <%= f.text_field :seminar %>
        </div>
        <div class="field">
            <%= f.label :出身高校 %><br />
            <%= f.text_field :high_school %>
        </div>
        <div class="field">
            <%= f.label :部活 %><br />
            <%= f.text_field :club %>
        </div>
        <div class="field">
            <%= f.label :生年月日 %><br />
            <%= f.text_field :birthday %>
        </div>
        <div class="field">
            <%= f.label :アルバイト歴 %><br />
            <%= f.text_field :part_time_job %>
        </div>
        <div class="field">
            <%= f.label :パスワード %> <i></i><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
        <div class="actions">
            <%= f.submit "更新" %>
        </div>
    <% end %>
    <%= link_to "戻る", :back %>
</div>
